@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.app{
    width:100%;
    max-width:430px;
    background:white;
    border-radius:35px;
    padding:25px;
    position:relative;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header h2{
    font-size:24px;
}

.header p{
    color:gray;
    font-size:14px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:25px;
}

.card{
    padding:20px;
    border-radius:20px;
}

.card p{
    font-size:15px;
    margin-bottom:10px;
}

.card h2{
    text-align:right;
    font-size:30px;
}

.blue{
    background:#cfd7ff;
}

.yellow{
    background:#fff1a8;
}

.green{
    background:#ccecdf;
}

.pink{
    background:#ffd0ef;
}

/* INPUT */

.input-section{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:25px;
}

.input-section input,
.input-section select{
    border:none;
    background:#f3f5f9;
    padding:15px;
    border-radius:15px;
    outline:none;
    font-size:15px;
}

/* TASKS */

ul li{
    list-style:none;
    background:#f8f9fc;
    padding:18px;
    border-radius:18px;
    margin-bottom:15px;
    position:relative;
}

.task-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.task-name{
    font-size:16px;
    font-weight:500;
}

.task-info{
    color:gray;
    font-size:13px;
}

.task-category{
    display:inline-block;
    margin-top:10px;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
    background:#e8ecff;
    color:#4f62d8;
}

.checked .task-name{
    text-decoration:line-through;
    color:gray;
}

.actions{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.actions button{
    border:none;
    padding:7px 12px;
    border-radius:10px;
    cursor:pointer;
}

.complete-btn{
    background:#d9f7df;
}

.delete-btn{
    background:#ffe0e0;
}

/* FLOAT BUTTON */

.floating-btn{
    position:absolute;
    right:25px;
    bottom:25px;
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#4f8cff;
    color:white;
    font-size:22px;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(79,140,255,0.4);
}
